* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

#wrapper {
  position: relative;
  width: 400px;
  margin: 65px auto 30px;
  border: 1px solid #f7f7f7;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px #f7f7f7;
          box-shadow: 0 10px 10px #f7f7f7;
}

#wrapper .topbuttons {
  position: absolute;
  top: -50px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper .topbuttons .playbutton {
  width: 115px;
  background: #7f27d1;
  color: #fff;
  padding: 10px 13px;
  border: 0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

#wrapper .topbuttons .playbutton img {
  width: 16px;
  display: block;
}

#wrapper .topbuttons .playbutton:hover {
  opacity: 0.85;
}

#wrapper .topbuttons .burcbutton {
  background: #a2cf00;
  color: #fff;
  padding: 10px 13px;
  border: 0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-right: 5px;
}

#wrapper .topbuttons .burcbutton:hover {
  opacity: 0.85;
}

#wrapper .burcmodal {
  position: absolute;
  z-index: 1;
  top: 5%;
  width: 320px;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.6);
}

#wrapper .burcmodal .modal-title {
  background: #f7f7f7;
  padding: 12px 15px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrapper .burcmodal .modal-title .cls {
  font-size: 22px;
  cursor: pointer;
}

#wrapper .burcmodal .modal-title .cls:hover {
  opacity: 0.7;
}

#wrapper .burcmodal .modal-body {
  background: #fff;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

#wrapper .burcmodal .modal-body .burc {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
}

#wrapper .burcmodal .modal-body .yorum {
  font-size: 14px;
}

#wrapper .logo {
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

#wrapper .card {
  padding: 25px 15px;
  background: #53b6e4 url(images/sun-alt.svg);
  color: #fff;
  border-radius: 5px;
  background-size: 60%;
  background-position: 150% 100%;
  background-repeat: no-repeat;
}

#wrapper .card span {
  font-size: 11px;
  letter-spacing: 0.5px;
}

#wrapper .card h2 {
  margin: 0;
  margin-bottom: 3px;
  line-height: 1.4;
  font-size: 22px;
}

#wrapper .card h2 span {
  font-size: unset;
}

#wrapper .card .time {
  font-size: 14px;
}

#wrapper .card .time em {
  font-style: normal;
  font-weight: bold;
}

#wrapper .news select {
  height: 40px;
  border: 1px solid #ddd;
  font-size: 15px;
  padding: 0 10px;
  border-radius: 5px;
  margin: 15px 0 0;
  width: 100%;
}

#wrapper .news ul {
  padding: 0;
  list-style: none;
}

#wrapper .news ul li {
  display: block;
}

#wrapper .news ul li:last-child a {
  border-bottom: 0;
}

#wrapper .news ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

#wrapper .news ul li a img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid #fff;
  padding: 2px;
}

#wrapper .news ul li a:hover {
  background-color: #f9f9f9;
  border-color: transparent;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

#wrapper .news ul li a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 5px 10px #eee;
          box-shadow: 0 5px 10px #eee;
  border-color: #53b6e4;
}

#login {
  position: relative;
  width: 400px;
  margin: 65px auto 30px;
  border: 1px solid #f7f7f7;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px #f7f7f7;
          box-shadow: 0 10px 10px #f7f7f7;
}

#login form {
  padding: 20px;
}

#login form label {
  display: block;
  font-size: 15px;
  color: #444;
  font-weight: bold;
  margin-bottom: 10px;
}

#login form input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 15px;
  width: 100%;
}

#login form button {
  background: #264fc2;
  color: #fff;
  border: 0;
  border-radius: 5px;
  height: 35px;
  padding: 0 18px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;
}

#login form button:hover {
  opacity: 0.85;
}

@media (max-width: 700px) {
  body {
    margin: 0 15px;
  }
  #login,
  #wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=app.css.map */